:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}
body {
  font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
.logo {
  display: flex;
  margin-right: 93px;
}
.logo {
  color: var(--title-text-color);
}
.logo:hover {
  color: var(--accent-color);
}
.logo, .web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.link {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.title {
  color: var(--title-text-color);
}
.p-style {
  color: var(--primary-text-color);
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav.link: none;
.link .hero-title,
.features-title,
.work-title,
.section-title {
  color: var(--title-text-color);
}
.page-header{
display: block;
align-items: center;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
::after, ::before {
  box-sizing: border-box;
}
.navigator{
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.feature-list.title {
  color: var(--title-text-color);
}
.hero-title {
  color: var(--title-text-color);
}
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
a {
  text-decoration: none;
}
